<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SymEx Nature commands"
            id="edu.cmu.va.varanalysis.core.ui.category">
      </category>
      <command
            name="Add/Remove SymEx Nature"
            defaultHandler="edu.cmu.va.varanalysis.ui.builder.AddRemoveSymExNatureHandler"
            categoryId="edu.cmu.va.varanalysis.core.ui.category"
            id="edu.cmu.va.varanalysis.core.ui.addRemoveSymExNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="edu.cmu.va.varanalysis.core.ui.addRemoveSymExNature"
               label="Disable VarAnalysis builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="edu.cmu.va.varanalysis.core.symexnature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="edu.cmu.va.varanalysis.core.ui.addRemoveSymExNature"
               label="Enable VarAnalysis builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="edu.cmu.va.varanalysis.core.symexnature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
       
    <extension point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
	        class="edu.cmu.va.varanalysis.ui.highlighting.StringLitHighlighting"
	        target="org.eclipse.php.core.phpsource">
	    </highlighting>
    </extension>
    
    <extension point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
	        class="edu.cmu.va.varanalysis.ui.highlighting.CallGraphNodeHighlighting"
	        target="org.eclipse.php.core.phpsource">
	    </highlighting>
    </extension>
    
    <extension point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
	        class="edu.iastate.varis.ui.highlighters.HtmlTagHighlighting"
	        target="org.eclipse.php.core.phpsource">
	    </highlighting>
    </extension>
    
    <extension point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
	        class="edu.iastate.varis.ui.highlighters.HtmlAttrNameHighlighting"
	        target="org.eclipse.php.core.phpsource">
	    </highlighting>
    </extension>
    
    <extension point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
	        class="edu.iastate.varis.ui.highlighters.HtmlAttrValueHighlighting"
	        target="org.eclipse.php.core.phpsource">
	    </highlighting>
    </extension>
    


    
    
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="edu.cmu.va.varanalysis.ui.builder.Startup">
       </startup>
    </extension>
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             activate="true"
             class="edu.cmu.va.varanalysis.core.ui.jump.HyperLinkDetector"
             id="edu.cmu.va.varanalysis.core.ui.hyperlink"
             name="HyperLinkDetector"
             targetId="org.eclipse.php.core.phpsource">
       </hyperlinkDetector>
       <hyperlinkDetector
             activate="true"
             class="edu.iastate.varis.ui.hyperlinks.HyperLinkDetector"
             id="edu.iastate.varis.ui.hyperlinks.HyperLinkDetector"
             name="HyperLinkDetector"
             targetId="org.eclipse.php.core.phpsource">
       </hyperlinkDetector>       
    </extension>
    
	
	 <extension
        id="VarisCompletionProposalComputer"
        point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
                <scriptCompletionProposalComputer
                        categoryId="edu.iastate.varis.ui.proposalCategory.varisTemplates"
                        class="edu.iastate.varis.ui.contentassist.VarisCompletionComputer"
                        toolkitId="org.eclipse.php.core.PHPNature">
                        <partition type="org.eclipse.php.PHP_DEFAULT">
                        </partition>
                </scriptCompletionProposalComputer>
     </extension>
        
        
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.iastate.varis.category.varis"
            name="Varis">
      </category>
      <view
            category="edu.iastate.varis.category.varis"
            class="edu.iastate.varis.ui.views.VarDomView"
            icon="icons/sample.gif"
            id="edu.iastate.varis.ui.views.VarDomView"
            name="VarDOM">
      </view>
   </extension>
    
    <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="edu.iastate.varis.ui.viewerContribution.JumpToDeclaration"
            targetID="org.eclipse.php.core.phpsource.source.EditorContext">
         <action
               class="edu.iastate.varis.ui.actions.JumpToDeclaration"
               id="edu.iastate.varis.ui.actions.JumpToDeclaration"
               label="Jump to Declaration (Varis)"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
       
        
</plugin>
