<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SymEx Nature commands"
            id="edu.cmu.va.varanalysis.core.ui.category">
      </category>
      <command
            name="Add/Remove SymEx Nature"
            defaultHandler="edu.cmu.va.varanalysis.ui.builder.AddRemoveSymExNatureHandler"
            categoryId="edu.cmu.va.varanalysis.core.ui.category"
            id="edu.cmu.va.varanalysis.core.ui.addRemoveSymExNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="edu.cmu.va.varanalysis.core.ui.addRemoveSymExNature"
               label="Disable VarAnalysis builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="edu.cmu.va.varanalysis.core.symexnature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="edu.cmu.va.varanalysis.core.ui.addRemoveSymExNature"
               label="Enable VarAnalysis builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="edu.cmu.va.varanalysis.core.symexnature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
       
    <extension point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
	        class="edu.cmu.va.varanalysis.ui.highlighting.StringLitHighlighting"
	        target="org.eclipse.php.core.phpsource">
	    </highlighting>
    </extension>
    
    <extension point="org.eclipse.wst.sse.ui.semanticHighlighting">
        <highlighting
	        class="edu.cmu.va.varanalysis.ui.highlighting.CallGraphNodeHighlighting"
	        target="org.eclipse.php.core.phpsource">
	    </highlighting>
    </extension>


    
    
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="edu.cmu.va.varanalysis.ui.builder.Startup">
       </startup>
    </extension>
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             activate="true"
             class="edu.cmu.va.varanalysis.core.ui.jump.HyperLinkDetector"
             id="edu.cmu.va.varanalysis.core.ui.hyperlink"
             name="HyperLinkDetector"
             targetId="org.eclipse.php.core.phpsource">
       </hyperlinkDetector>
    </extension>
</plugin>
