<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="symex"
            name="SymEx">
      </category>
      <view
            category="symex"
            class="datamodelviewer.DataModelViewer"
            icon="icons/sample.gif"
            id="datamodelviewer.views.DataModelView"
            name="PhpSync Data Model">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="datamodelviewer.views.DataModelView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
