<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.iastate.parsers.category.webparsers"
            name="Web Parsers">
      </category>
      <view
            category="edu.iastate.parsers.category.webparsers"
            class="edu.iastate.parsers.ui.views.WebParsersView"
            icon="icons/sample.gif"
            id="edu.iastate.parsers.ui.views.WebParsersView"
            name="Web Parsers">
      </view>
      <category
            id="edu.iastate.parsers.category.webanalysis"
            name="Web Analysis">
      </category>
      <view
            category="edu.iastate.parsers.category.webanalysis"
            class="edu.iastate.parsers.ui.views.WebAnalysisView"
            icon="icons/sample.gif"
            id="edu.iastate.parsers.ui.views.WebAnalysisView"
            name="Web Analysis">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="edu.iastate.parsers.ui.viewerContribution.ComputeBackwardSlice"
            targetID="org.eclipse.php.core.phpsource.source.EditorContext">
         <action
               class="edu.iastate.parsers.ui.actions.ComputeBackwardSlice"
               id="edu.iastate.parsers.ui.actions.ComputeBackwardSlice"
               label="Compute Backward Slice"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <viewerContribution
            id="edu.iastate.parsers.ui.viewerContribution.ComputeForwardSlice"
            targetID="org.eclipse.php.core.phpsource.source.EditorContext">
         <action
               class="edu.iastate.parsers.ui.actions.ComputeForwardSlice"
               id="edu.iastate.parsers.ui.actions.ComputeForwardSlice"
               label="Compute Forward Slice"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
