<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.iastate.parsers.category.webparsers"
            name="Web Parsers">
      </category>
      <view
            category="edu.iastate.parsers.category.webparsers"
            class="edu.iastate.parsers.ui.views.WebParsersView"
            icon="src/main/resources/icons/sample.gif"
            id="edu.iastate.parsers.ui.views.WebParsersView"
            name="Web Parsers">
      </view>
      <category
            id="edu.iastate.parsers.category.webanalysis"
            name="Web Analysis">
      </category>
      <view
            category="edu.iastate.parsers.category.webanalysis"
            class="edu.iastate.parsers.ui.views.WebAnalysisView"
            icon="src/main/resources/icons/sample.gif"
            id="edu.iastate.parsers.ui.views.WebAnalysisView"
            name="Web Analysis">
      </view>
      <category
            id="edu.iastate.varis.category.varis"
            name="Varis">
      </category>
      <view
            category="edu.iastate.varis.category.varis"
            class="edu.iastate.varis.ui.views.VarisView"
            icon="src/main/resources/icons/sample.gif"
            id="edu.iastate.varis.ui.views.VarisView"
            name="Varis">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="edu.iastate.parsers.ui.viewerContribution.ComputeBackwardSlice"
            targetID="org.eclipse.php.core.phpsource.source.EditorContext">
         <action
               class="edu.iastate.parsers.ui.actions.ComputeBackwardSlice"
               id="edu.iastate.parsers.ui.actions.ComputeBackwardSlice"
               label="Compute Backward Slice"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <viewerContribution
            id="edu.iastate.parsers.ui.viewerContribution.ComputeForwardSlice"
            targetID="org.eclipse.php.core.phpsource.source.EditorContext">
         <action
               class="edu.iastate.parsers.ui.actions.ComputeForwardSlice"
               id="edu.iastate.parsers.ui.actions.ComputeForwardSlice"
               label="Compute Forward Slice"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
	<extension
			point="org.eclipse.wst.sse.ui.semanticHighlighting">
		<highlighting
			class="edu.iastate.varis.ui.highlighters.HtmlTagNameHighlighting"
			target="org.eclipse.php.core.phpsource">
		</highlighting>
	</extension>
	<extension
			point="org.eclipse.wst.sse.ui.semanticHighlighting">
		<highlighting
			class="edu.iastate.varis.ui.highlighters.HtmlAttrNameHighlighting"
			target="org.eclipse.php.core.phpsource">
		</highlighting>
	</extension>
	<extension
			point="org.eclipse.wst.sse.ui.semanticHighlighting">
		<highlighting
			class="edu.iastate.varis.ui.highlighters.HtmlAttrValueHighlighting"
			target="org.eclipse.php.core.phpsource">
		</highlighting>
	</extension>
	<extension
			id="VarisCompletionProposalComputer"
			point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
		<scriptCompletionProposalComputer
				categoryId="edu.iastate.varis.ui.proposalCategory.varisTemplates"
				class="edu.iastate.varis.ui.contentassist.VarisCompletionComputer"
				toolkitId="org.eclipse.php.core.PHPNature">
			<partition type="org.eclipse.php.PHP_DEFAULT">
			</partition>
		</scriptCompletionProposalComputer>
	</extension>	
</plugin>
